{% extends '::base.html.twig' %}

{% block body -%}
    <h1 style="margin-top:50px;">Modification</h1>

    {{ form(edit_form) }}

    <ul class="record_actions" style="list-style: none; margin-left:0px;">
		<li>{{ form(delete_form) }}</li>
	</ul>
	<a class="btn btn-default" href="{{ path('publication') }}">
	    Voir tous les enregistrements
	</a>
	<br/><br/>
{% endblock %}
